{% extends "base.html" %}

{% block content %}
<h1 class="text-center text-success"> Gestion du Budget</h1> <br>

<div class="card-body">
   
    <p class="card-text">Gestion du Budget est une application de gestion de budget innovante conçue pour vous aider à prendre le contrôle de vos finances personnelles de manière simple et efficace. Que vous soyez un professionnel soucieux de budgétiser vos dépenses ou un étudiant cherchant à mieux gérer son argent, notre application offre les outils nécessaires pour atteindre vos objectifs financiers.

     <center></p><h5>Principales fonctionnalités :<br></h5></center>
      
     <center><h6>Suivi des dépenses:<br></h6></center>
      Gestion du Budget vous permet de suivre toutes vos dépenses quotidiennes, mensuelles et annuelles en quelques clics. Vous pouvez catégoriser vos transactions pour une meilleure analyse et compréhension de vos habitudes de dépenses.<br>
      
     <center><h6>Budget personnalisé:<br></h6></center>
      Créez des budgets personnalisés en fonction de vos objectifs financiers et de votre mode de vie. Notre application vous permet de définir des limites de dépenses pour chaque catégorie, ce qui vous aide à rester sur la bonne voie.
      
      Visualisation intuitive: Grâce à des graphiques et des tableaux interactifs, vous pouvez visualiser vos données financières de manière claire et concise. Comprenez facilement où va votre argent et identifiez les domaines où vous pouvez économiser davantage.
      
      Alertes et notifications: Recevez des alertes personnalisées lorsque vous approchez de vos limites budgétaires ou lorsque des transactions inhabituelles sont détectées. Restez informé de l'état de vos finances en tout temps.<br><br>
      
    
    <a href="/" class="btn btn-success">Retour Accueil</a> 
  </div>


    
{% endblock content %}
