{% extends "base.html" %}

{% block content %}
<h1 class="text-center text-success"> Gestion du Budget</h1> <br>

<div class="card-body">
   
    <p class="card-text">L'application Budget est conçue pour vous aider à mieux gérer vos finances personnelles en vous permettant de suivre facilement vos dépenses et vos revenus. Grâce à une interface simple et intuitive, vous pouvez ajouter, modifier ou supprimer des transactions, tout en obtenant un aperçu clair de l'évolution de votre solde. Que vous cherchiez à mieux comprendre où va votre argent ou à atteindre des objectifs financiers, Budget est là pour vous offrir un suivi précis et une gestion simplifiée de vos finances quotidiennes.

     <center></p><h5>Principales fonctionnalités :<br></h5></center>
      
     <center><h6>Suivi des dépenses:<br></h6></center>
     Enregistrez facilement vos dépenses avec un titre et un montant pour suivre où va votre argent.

     <br>
      
     <center><h6>Budget personnalisé:<br></h6></center>
     L'application Budget vous permet de personnaliser votre gestion financière en ajoutant des catégories de dépenses et de revenus spécifiques à vos besoins. Vous pouvez définir des budgets pour chaque catégorie, suivre les variations mensuelles, et ajuster les paramètres pour une vue sur mesure de vos finances. Cette flexibilité aide à mieux comprendre et contrôler votre budget personnel.<br><br>
      
    
    <a href="/" class="btn btn-success">Retour Accueil</a> 
  </div>


    
{% endblock content %}
